<!DOCTYPE html>
<html>
  <head></head>
  <body>

    <div id="chat_container">
      {% if current_user %}
      {% module UserInput(current_user) %}
      {% else %}
      <a href="/chat/login">login</a>
      {% end %}
      <div>
        Fork me on <a href="https://github.com/Wesitos/tornado_chat">Github</a>
      </div>
      <ol id="chat_list">
        {% for message in message_list[::-1] %}
        <li>{% module ChatMessage(message["user"], message["text"]) %}</li>
        {% end %}
      </ol>
    </div>
  </body>
</html>
